<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://github.com/VivekSivaramakrishnan"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="instagram.com/iamviveksrk"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.youtube.com/c/viveksrk"><i class="fab fa-youtube"></i> Youtube</a></li>
      <li><a href="https://twitter.com/iamviveksrk"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="https://github.com/VivekSivaramakrishnan/viveksivaramakrishnan.github.io"><i class="far fa-bookmark"></i> Portfolio Repository</a></li>
    </ul>
  </div>
